body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0a2f6e, #0c0c24);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    position: absolute;
    top: 10px;
    left: 20px;
}


.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}

button {
    padding: 12px;
    background-color: #56b4ef;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0a2f6e;
}

.back-btn {
    margin-top: 15px;
    color: #56b4ef;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}